body {
  font-family: sans-serif;

}
p.heading {
  padding: 5px 0px 5px 0px;
  margin: 0px 10px 20px 10px;
  border-bottom: 1px solid #eee;
}

p.heading span.title {
  font-size: 26px;
  padding-left:5px;
}

p.heading span.subtitle {
  font-size: 20px;
  font-weight: lighter;
  padding-left:5px;
  color: grey;
}

h1.group-name {
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

div.row {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

div.col-sm-4 {
  padding-left: 30px;
  padding-bottom: 20px;
}

div.pipeline-group {
  border: 1px solid;
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.pipeline-group h3 {
    font-size: 20px;
}

div.info {
  padding-top: 20px;
  font-size: 20px;
}
